@use '../helpers' as *;

.offer {
  background-image: url(../../assets/images/main-page/5.jpg);
  background-repeat: no-repeat;
  background-position: bottom -87.48px right fluid-to-laptop(32, 0);
  background-size: fluid(246.94, 211.64) fluid(399.78, 342.64);

  @include tablet {
    background-position: bottom -143.64px right 44%;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
    padding: fluid(40, 16);

    @include tablet {
      align-items: center;
      padding-bottom: 241px;
      row-gap: 24px;

      & * {
        text-align: center;
        align-items: center;
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 8px;

    @include mobile {
      flex-direction: column;
    }

    &-description {
      font-size: 14px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    &-description {
      font-size: 14px;
      color: var(--color-gray-5);
    }
  }
}