@use '../helpers' as *;

.rating-card {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 16px 32px;
  border-radius: var(--border-radius-l);
  background-color: var(--color-gray-1);

  @include mobile {
    padding-inline: 34px;
  }

  &__header {
    display: flex;
    align-items: end;
    column-gap: 8px;
  }

  &__score {
    font-size: 12px;
    line-height: 120%;
  }
}