@use '../helpers' as *;

.burger-button {
  --size: 24px;

  @include square(var(--size));

  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 3px;
  color: var(--color-light);
  background-color: transparent;
  border: none;

  &::before {
    @include square(36px);
    @include abs-center;

    content: '';
  }

  @include hover {
      color: var(--color-purple);
  }

  &.is-active {
      .burger-button__line {
          &:first-child {
              rotate: 45deg;
              translate: 0 0.39em;
          }

          &:nth-child(2) {
              rotate: -45deg;    
          }

          &:last-child {
              width: 0;
          }
      }
  }

  &__line {
      width: 100%;
      height: 2px;
      background-color: currentColor;
      border-radius: 1px;
      transition-duration: var(--transition-duration);
  }
}