@use '../helpers' as *;

.footer {
  background-color: var(--color-gray-1);

  &__inner {
    display: flex;
    flex-direction: column;

    & > *:not(:last-of-type) {
      border-bottom: var(--border);
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    padding-block: fluid(40, 24) 32px;
  }

  &__header {
    font-size: fluid(48, 24);
  }

  &__list {
    display: flex;
    column-gap: 16px;
  }

  &__item {
    display: flex;
  }

  &__download-on-appstore-link,
  &__get-it-on-googleplay-link {
    width: fluid(189, 135);
    height: fluid(56, 40);
  }

  &__extra {
    display: flex;
    padding-block: 32px 40px;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      align-items: center;
      row-gap: 24px;
    }

    &-menu {
      display: flex;
      column-gap: 64px;

      @include mobile {
        flex-direction: column;
        align-items: center;
        row-gap: 24px;
      }
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--color-gray-5);
  }
}