@use '../helpers' as *;

.privacy-policy {
  display: flex;
  align-items: center;
  font-size: 14px;

  &__list {
    display: flex;
    column-gap: 16px;
  }

  & a.privacy-policy__link {
    text-decoration: underline;
  }
}