@use '../helpers' as *;

.soc1als {
  &__list {
    display: flex;
    column-gap: 8px;
  }

  &__item {
    display: flex;
  }
  
  &__link {
    @include hover {
      border-radius: 2px;
      outline: 2px solid var(--color-purple-light);
      transition-duration: var(--transition-duration-faster);
    }
  }
}