@use './blocks/button.scss';

@use './blocks/header.scss';
@use './blocks/logo.scss';
@use './blocks/burger-button.scss';
@use './blocks/footer.scss';
@use './blocks/privacy-policy.scss';
@use './blocks/soc1als.scss';
@use './blocks/hero.scss';
@use './blocks/advantage-card.scss';
@use './blocks/partners.scss';
@use './blocks/section.scss';
@use './blocks/feedback-card.scss';
@use './blocks/rating-card.scss';
@use './blocks/rating-view.scss';
@use './blocks/security-icon.scss';
@use './blocks/alert-card.scss';
@use './blocks/promo.scss';
@use './blocks/guide.scss';
@use './blocks/offer.scss';
@use './blocks/breadcrumb.scss';
@use './blocks/contact-us.scss';
@use './blocks/contact-info.scss';